#  Create Tuples

In [1]:
tup_1 = ('Hello',)

In [2]:
tup_1

('Hello',)

In [3]:
type(tup_1)

tuple

In [4]:
tup_2 = tuple(('hello','dear','welcome','to','titanic'))

In [5]:
tup_2

('hello', 'dear', 'welcome', 'to', 'titanic')

In [7]:
type(tup_2)

tuple

In [8]:
len(tup_2)

5

# Access Tuple Items

In [9]:
tup_2 = tuple(('hello','dear','welcome','to','titanic'))

In [10]:
tup_2[0]

'hello'

In [11]:
tup_2[-1]

'titanic'

In [13]:
tup_2[0:3]

('hello', 'dear', 'welcome')

In [14]:
tup_2[:5]

('hello', 'dear', 'welcome', 'to', 'titanic')

In [15]:
tup_2[2:]

('welcome', 'to', 'titanic')

In [16]:
tup_2[-4:-1]

('dear', 'welcome', 'to')

In [17]:
if 'to' in tup_2:
    print('Yes',tup_2[3],'is present in tup_2')

Yes to is present in tup_2

In [18]:
del tup_2

In [19]:
tup_1

('Hello',)

# Unpack Tuple

In [26]:
fruit = ('apple','cherry','pineapple')

In [27]:
fruit

('apple', 'cherry', 'pineapple')

In [28]:
(first,second,third) = fruit

In [29]:
second

'cherry'

In [30]:
fruit = ('apple','cherry','pineapple','banana','gavava','orange')

In [34]:
(red,blue,*cyan) = fruit

In [40]:
# If the number of variables is less than the number of values, you can add an * 
#to the variable name and the values will be assigned to the variable as a list:

In [38]:
cyan

['pineapple', 'banana', 'gavava', 'orange']

# Looping on tuple

In [41]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [42]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [43]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Join

In [44]:
this_tup = ('bell','tell','chell')
this_tup * 5

('bell',
 'tell',
 'chell',
 'bell',
 'tell',
 'chell',
 'bell',
 'tell',
 'chell',
 'bell',
 'tell',
 'chell',
 'bell',
 'tell',
 'chell')

In [45]:
tup_f= (1,2,3,4,5)
tup_s = (6,7,8,9,10)
tup_add = tup_f + tup_s

In [46]:
tup_add

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# tuple Function

In [51]:
fruit.count("orange")

1

In [57]:
tup_add.index(3)

2