# Operators
## Operators are used to perform operations on variables and values. Python has the following operators:

### 1. Arithmetic operators
### 2. Comparison operators
### 3. Logical operators
### 4. Bitwise operators
### 5. Assignment operators
### 6. Identity operators
### 7. Membership operators

# Arithmetic operators

In [ ]:
x = 5
y = 2

In [11]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x // y)
print(x%y)

7
3
10
2.5
25
2
1

# Comparison operators

In [ ]:
a = 5
b = 3

In [17]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a == b)
print(a != b)

True
False
True
False
False
True

# Logical operators

In [ ]:
t = True
f = False

In [24]:
print(t is f)
print(f or t)
print(t and f)
print(not f)
print(not t)

False
True
False
True
False

# Bitwise operators

In [26]:
x = 3
y = 4

In [32]:
print(x & y)
print(x | y)
print(x << y)
print(x >> y)
print(~y)

0
7
48
0
-5

# Assignment operators

In [59]:
a = 5
a +=5

In [38]:
print(a)

10

In [44]:
a-=5
a*=5
a/=5

# Identity operators

In [52]:
a = 4
b =4

In [53]:
print(a is b)

True

In [54]:
print(a is not b)

False

In [55]:
str_1 = 'hello-world'
str_2 = 'hello-world'

In [57]:
print(str_1 is str_2)

False

In [58]:
print(str_1 is not str_2)

True

# Membership operators

In [60]:
x = 'Hello i am going to UK for Two week'

In [62]:
print('am' in x)

True

In [64]:
print('UK'not in x)

False

In [65]:
num = [5,10,15,20]

In [66]:
print(5 in num)

True

In [67]:
print(5 not in num)

False